<div class="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
    <div class="studio">
        <a href="http://celebro.ru/" class="studio-link" target="_blank" title="Создание сайтов: разработка и поддержка, дизайн сайтов. Продвижение сайта и интернет реклама. | Веб-студия CELEBRO"><span class="year">2014</span></a>

        <div class="studio-info">
            <div class="studio-line">
                Разработка&nbsp;студии&nbsp;<a href="http://celebro.ru/" target="_blank" title="Создание сайтов: разработка и поддержка, дизайн сайтов. Продвижение сайта и интернет реклама. | Веб-студия CELEBRO">celebro.ru</a>
            </div>

            <div class="studio-line">
                <a href="http://cms.celebro.ru/" target="_blank">Система&nbsp;управления&nbsp;контентом</a>
            </div>
        </div>
    </div>
</div>