<!doctype html>
<!-- copyright (c) CELEBRO Studio | https://celebro.ru -->
{% spaceless %}
<html class="no-js" itemscope="itemscope" itemtype="http://schema.org/{% if not uri[1] %}WebPage{% else %}ItemPage{% endif %}" lang="{{ _page.lang }}">
    <meta charset=utf-8>
    <script async src=https://cdn.ampproject.org/v0.js></script>
    <title itemprop=name>Разработка сайтов и поддержка сайтов - индивидуальный подход к каждому клиенту | Веб Студия celebro.ru</title>
    <link rel=canonical href=https://celebro.ru/>
    <meta name=viewport content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name=yandex-verification content=54afa3dfc0cc0bbf>
    <script type=application/ld+json>{
        "@context": "http://schema.org",
        "@type": "Webpage",
        "url": "https://celebro.ru/",
        "name": "celebro.ru",
        "headline":"Рекламное интернет-агентство Celebro.ru",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://celebro.ru/"
        },
        "publisher": {
            "@type": "Organization",
            "name": "celebro.ru",
            "logo": {
                "url": "https://celebro.ru/images/logo-celebro.png",
                "width": 196,
                "height": 200,
                "@type": "ImageObject"
            }
        },
        "image": {
            "@type": "ImageObject",
            "url": "https://celebro.ru/images/share.png",
            "width": 1200,
            "height": 630
        }
    }</script>
    <style amp-boilerplate>
    body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    </style>
    <noscript>
    <style amp-boilerplate>
    body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    </style>
    </noscript>
    <meta itemprop=name content="Рекламное интернет-агентство Celebro.ru">
    <meta itemprop=description content="Услуги профессиональной рекламы в интернете, продвижение сайтов, разработка сайтов, контекстная реклама по доступным ценам!">
    <meta itemprop=image content=https://celebro.ru/images/share.png>

    <meta name=twitter:card content=summary>
    <meta name=twitter:site content=@celebroru>
    <meta name=twitter:creator content=@celebroru>
    <meta name=twitter:title content=" Рекламное интернет-агентство Celebro.ru">
    <meta name=twitter:description content="Услуги профессиональной рекламы в интернете, продвижение сайтов, разработка сайтов, контекстная реклама по доступным ценам!">
    <meta name=twitter:image content=https://celebro.ru/images/share.png>
    <meta name=twitter:image:alt content=celebro.ru>

    <meta property=fb:app_id content=500712019984442>

    <meta property=og:title content=" Рекламное интернет-агентство Celebro.ru">
    <meta property=og:type content=article>
    <meta property=og:image content=https://celebro.ru/images/share.png>
    <meta property=og:url content=https://celebro.ru/>
    <meta property=og:description content="Услуги профессиональной рекламы в интернете, продвижение сайтов, разработка сайтов, контекстная реклама по доступным ценам!">
    <meta property=og:site_name content=celebro.ru>

    <link rel=manifest href=/manifest.json>
    <link rel=apple-touch-icon sizes=180x180 href=/apple-touch-icon.png>
    <link rel=icon type=image/png sizes=32x32 href=/favicon-32x32.png>
    <link rel=icon type=image/png sizes=16x16 href=/favicon-16x16.png>
    <link rel=mask-icon href=/safari-pinned-tab.svg color=#5bbad5>

    <meta name=apple-mobile-web-app-title content=CELEBRO>
    <meta name=application-name content=CELEBRO>
    <meta name=msapplication-TileColor content=#ffffff>
    <meta name=msapplication-TileImage content=/mstile-144x144.png>
    <meta name=theme-color content=#ffffff>

    <script async custom-element=amp-analytics src=https://cdn.ampproject.org/v0/amp-analytics-0.1.js></script>
    <script async custom-element=amp-social-share src=https://cdn.ampproject.org/v0/amp-social-share-0.1.js></script>

    <style amp-custom>
        *{-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}body,html{height:100%}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;font-size:10px;quotes:"“" "”"}body,html{overflow-x:hidden}body{-webkit-font-kerning:none;background-color:#fff;color:#222223;font-kerning:none;line-height:1.42857143;min-width:320px;overflow-y:auto}body,button,input,select,textarea{-moz-font-feature-settings:"kern","onum","liga";-moz-osx-font-smoothing:grayscale;-webkit-font-feature-settings:"kern","onum","liga";-webkit-font-smoothing:antialiased;font-feature-settings:"kern","onum","liga";font-smoothing:antialiased;font-synthesis:none;text-align:left;text-rendering:optimizeLegibility}.contacts{line-height:1}.contacts__category{font-size:14px;font-size:1.4rem;margin-bottom:5px;text-transform:lowercase}.contacts__name{color:#d7095b;color:#737578;font-size:42px;font-size:4.2rem;font-weight:400;letter-spacing:.03ex;line-height:1;margin-bottom:10px;margin-left:-4px;text-transform:uppercase}.contacts__ido{font-size:15px;font-size:1.5rem;line-height:1.5}.container{height:100%;margin:0 auto;max-width:960px;padding-left:15px;padding-right:15px;width:100%}.content{clear:both}.content__wrapper{padding:5px 10px}.email{font-size:20px;font-size:2rem}.email__link{-webkit-transition:color .25s ease,border-color .25s ease;border-bottom:1px solid rgba(34,34,35,.2);color:#222223;text-decoration:none;transition:color .25s ease,border-color .25s ease}.email__link:hover{border-color:#b20100;border-color:rgba(178,1,0,.2);color:#b20100}.footer{-ms-flex-align:center;-ms-flex-pack:center;-webkit-align-items:center;-webkit-box-align:center;-webkit-box-pack:center;-webkit-justify-content:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:100px;justify-content:center}.footer__social{font-size:0;margin:0 auto}.header{width:100%}.header__wrapper{-ms-flex-align:stretch;-ms-flex-pack:justify;-webkit-align-items:stretch;-webkit-box-align:stretch;-webkit-box-pack:justify;-webkit-justify-content:space-between;align-items:stretch;justify-content:space-between;padding:10px 0}.header__start,.header__wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.header__start{-ms-flex-align:center;-ms-flex-pack:start;-webkit-align-items:center;-webkit-box-align:center;-webkit-box-pack:start;-webkit-justify-content:flex-start;align-items:center;justify-content:flex-start;text-align:left}.header__end{-ms-flex-align:end;-ms-flex-direction:column;-ms-flex-pack:center;-ms-flex-wrap:wrap;-webkit-align-items:flex-end;-webkit-box-align:end;-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-box-pack:center;-webkit-flex-direction:column;-webkit-flex-wrap:wrap;-webkit-justify-content:center;align-items:flex-end;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;flex-direction:row;flex-direction:column;flex-wrap:wrap;justify-content:center}.logo{display:block;height:126px;margin-right:15px;width:116px}.phone{font-size:40px;font-size:4rem;margin-bottom:5px}.phone__tel{-webkit-transition:color .25s ease;color:#4353ff;text-decoration:none;transition:color .25s ease}.phone__tel:hover{color:#b20100}::-moz-selection{background-color:#d7095b;color:#fff;text-shadow:none}::selection{background-color:#d7095b;color:#fff;text-shadow:none}.service{clear:both}.service__title{font-size:24px;font-size:2.4rem;line-height:1;margin-bottom:10px}.service:not(:last-child){margin-bottom:30px}.service h3{font-size:20px;font-size:2rem;line-height:1;margin-bottom:10px}.service p{font-size:16px;font-size:1.6rem;line-height:1.8}.service p:not(:last-child),.service ul{margin-bottom:15px}.service ul li{color:#222223}.service ol,.service ul{margin-top:0}.service ol ol,.service ol ul,.service ul ol,.service ul ul{margin-bottom:0}.service ol{counter-reset:numeric}.service ol li:before{content:counter(numeric);counter-increment:numeric}@media (max-width:667px){.contacts__category{margin-bottom:10px}.contacts__name{font-size:3rem;margin-bottom:5px;margin-left:-2px}.contacts__ido{font-size:1.4rem;max-width:230px}.phone{font-size:2.6rem}}@media (max-width:480px){.contacts__ido{max-width:100%}.header__wrapper{-ms-flex-direction:column;-ms-flex-wrap:wrap;-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-flex-direction:column;-webkit-flex-wrap:wrap;flex-direction:row;flex-direction:column;flex-wrap:wrap;padding:25px 0}.header__start{margin-bottom:25px}.header__end,.header__start{-ms-flex-align:center;-ms-flex-pack:center;-webkit-align-items:center;-webkit-box-align:center;-webkit-box-pack:center;-webkit-justify-content:center;align-items:center;justify-content:center}.phone{margin-bottom:15px}}
    </style>
<body>

<amp-analytics type=googleanalytics id=analytics-ga>
    <script type=application/json>{"vars": {"account": "UA-109199056-1"}, "triggers": {"trackPageview": {"on": "visible","request": "pageview"}}}</script>
</amp-analytics>

<amp-analytics type=metrika>
    <script type=application/json>{"vars": {"counterId": "9491386"}}</script>
</amp-analytics>


<footer class=footer itemscope itemtype=http://schema.org/WPFooter>
    <div class=footer__social>
        <amp-social-share type=twitter width=45 height=33></amp-social-share><amp-social-share type=facebook width=45 height=33 data-attribution=500712019984442></amp-social-share><amp-social-share type=gplus width=45 height=33></amp-social-share><amp-social-share type=email width=45 height=33></amp-social-share><amp-social-share type=pinterest width=45 height=33></amp-social-share>
    </div>
</footer>

</body>
</html>