.add-template {
    width: 50%;
    position: relative;

    &__select {
        width: 100%;
    }

    &__button {
        position: absolute;
        left: 100%;
        top: 0;
        font-size: 0;
        margin-left: -1px;
    }
}