<div itemscope itemtype="http://schema.org/Review">
  <h2 itemprop="name"><a href="http://example.com/review?10231" itemprop="url">Русская кухня в изгнании</a></h2>
  <div>
    Отзыв написал <span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name">
    <a itemprop="url" href="http://example.com/users/vasya">Вася Пупкин</a>
    </span>
    </span>
    <meta itemprop="datePublished" content="2012-07-15"/>
     15 июля 2012.
  </div>
  <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
    <meta itemprop="worstRating" content="0"/>
    <p>
      Оценка: <span itemprop="ratingValue">9</span> из <span itemprop="bestRating">10</span>.
    </p>
  </div>
  <div itemprop="pro">
    Бесплатная стоянка, прекрасная детская комната и предупредительные официанты.
  </div>
  <div itemprop="contra">
    Большой и шумный некурящий зал.
  </div>
  <div itemprop="reviewBody">
    <p>
      Заказ был готов сравнительно быстро, а напитки приготовили практически сразу. Обслуживание на уровне, хотя грязная посуда иногда застаивалась.
    </p>
    <p>
      Рекомендую русскую кухню, особенно супы.
    </p>
  </div>
  <div>
    Автор посетил заведение
    <meta itemprop="dateVisited" content="2012-07-10">
    10 июля 2012.
  </div>
  <div>
    Оценки характеристик ресторана:
    <ul>
      <li itemprop="tag" itemscope itemtype="http://schema.org/Rating">
      <link itemprop="ratingTarget" href="https://webmaster.yandex.ru/vocabularies/ReviewBusiness/Cuisine.xml">
       Кухня: <span itemprop="ratingValue">5</span> из <span itemprop="bestRating">5</span>; </li>
      <li itemprop="tag" itemscope itemtype="http://schema.org/Rating">
      <link itemprop="ratingTarget" href="https://webmaster.yandex.ru/vocabularies/ReviewBusiness/Hall.xml">
       Зал: <span itemprop="ratingValue">3</span> из <span itemprop="bestRating">5</span>; </li>
    </ul>
  </div>
  <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Hotel">
    <h3>Информация о ресторане</h3>
    <p>
      Название: <span itemprop="name">Заграница</span>
    </p>
    <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      Адрес: <span itemprop="addressLocality">Москва</span>, <span itemprop="streetAddress">Тверская, 7</span>.
    </p>
    <p>
      Телефон: <span itemprop="telephone">123-45-12</span>.
    </p>
    <p>
      Сайт ресторана: <a itemprop="url" href="http://zagranica.ru">http://zagranica.ru</a>
    </p>
    <p>
      Электронный адрес администрации: <a itemprop="email" href="mailto:hostess@zagranica.ru">hostess@zagranica.ru</a>
    </p>
  </div>
</div>